configuration {
  modi: "drun,window,combi";
  font: "Hack Nerd Font 10";
  combi-modi: "drun,window";

  drun {
    display-name: "";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "ﬓ";
  }

  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}
@theme "onedark"

/* vim:ft=css
